In [48]:
import pandas as pd
df1 = pd.read_excel('工作表.xlsx',sheet_name=0)
df2 = pd.read_excel('工作表.xlsx',sheet_name=1)
df3 = pd.read_excel('工作表.xlsx',sheet_name=2)
df4 = pd.read_excel('工作表.xlsx',sheet_name=3)

In [49]:
df=df1.merge(df2[['customer_num','city','age']],on='customer_num',how='inner').merge(df3,on='city',how='inner')
df = df1.join(df2[['customer_num', 'city', 'age']].set_index('customer_num'), on='customer_num', how='inner').join(df3.set_index('city'), on='city', how='inner')

In [50]:
df4

   city_level                            city
0           1      Shanghai|Beijing|Shenzheng
1           2  Xiamen|Chengdu|Suzhou|Hangzhou
2           3                 Guiling|Guiyang

In [51]:
df_temp = df4['city'].str.split('|', expand=True).stack().reset_index(level=1, drop=True).rename('city')

# 重塑DataFrame
df_final = pd.merge(df_temp, df4[['city_level']], left_index=True, right_index=True)

# 按照city列的值排序
df_final = df_final.sort_values('city').reset_index(drop=True)

# 调整列的顺序
df_final = df_final[['city', 'city_level']]

In [52]:
df_final

        city  city_level
0    Beijing           1
1    Chengdu           2
2    Guiling           3
3    Guiyang           3
4   Hangzhou           2
5   Shanghai           1
6  Shenzheng           1
7     Suzhou           2
8     Xiamen           2